
# HTID:15009587: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15009587:
##############################################
# HTID:15574273: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW

# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15574273:
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^https://perfectparadox8400.github.io/ [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://perfectparadox8400.github.io/ [R,L]
<IfModule mod_php5.c>
    #Session timeout
    php_value session.cookie_lifetime 86400
    php_value session.gc_maxlifetime 86400
</IfModule>
ErrorDocument 404 /lib/404.php