
/* Portfolio Section
--------------------------------*/

#portfolio {
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(162, 62, 230, 0.1);
  }
  
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  #portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #5e068a;
    border-radius: 50px;
    text-transform: uppercase;
    background: #eee4f5;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  #portfolio #portfolio-flters li:hover,
  #portfolio #portfolio-flters li.filter-active {
    background: #5e068a;
    color: #fff;
  }
  
  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  #portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #portfolio .portfolio-item .portfolio-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin: 0;
  }
  
  #portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
    color: #fff;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
    color: #5e068a;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #e2effe;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #5e068a;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #fff;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
    background: #2b0742;
  }
  
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
  #portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
    color: #fff;
  }
  
  #portfolio .portfolio-item .portfolio-wrap:hover {
    background: #754794;
  }
  
  #portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
  /* Team Section
  --------------------------------*/
  
  #team {
    background: #fff;
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  
  #team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #team .member .member-info {
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  
  #team .member .member-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
  }
  
  #team .member:hover .member-info {
    background: rgba(162, 62, 230, 0.7);
    opacity: 1;
    transition: 0.4s;
  }
  
  #team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  #team .member .social {
    margin-top: 15px;
  }
  
  #team .member .social a {
    transition: none;
    color: #fff;
  }
  
  #team .member .social a:hover {
    color: #9065ad;
  }
  
  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  